In [41]:
import psycopg2
import pandas as pd

In [43]:
connection_args = {
    'host': 'localhost',
    'dbname': 'eol',
    'port': 5432,
    'user': 'postgres',
    'password': 1234
}

try:
    connection = psycopg2.connect(**connection_args)

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    #cursor.execute("SELECT page_id, COUNT(1) AS num from all_pantheria GROUP BY page_id ORDER BY num desc LIMIT 100;")
    cursor.execute("SELECT * from all_features;")
    #cursor.execute("SELECT * from all_pantheria WHERE page_id=47049861 LIMIT 100;")
    df = pd.DataFrame(cursor.fetchall(), columns=[c[0] for c in cursor.description])
    
    
except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)
finally:
    #closing database connection.
        if(connection):
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")
df

{'user': 'postgres', 'dbname': 'eol', 'host': 'localhost', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'gssencmode': 'prefer', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

PostgreSQL connection is closed

,page_id,conservation_status,habitat,trophic_level,body_mass,body_mass_units,pop_density,pop_density_units,geog_range,geog_range_units
0,115643,least concern,terrestrial habitat,None,NaN,None,135.76,individuals per square kilometer,1.926860e+11,m^2
1,115670,near threatened,terrestrial habitat,None,NaN,None,52.56,individuals per square kilometer,1.268012e+11,m^2
2,115718,near threatened,terrestrial habitat,None,NaN,None,14.00,individuals per square kilometer,8.265000e+07,m^2
3,115738,least concern,terrestrial habitat,herbivore,1355.23,g,79.55,individuals per square kilometer,3.600388e+11,m^2
4,115784,least concern,terrestrial habitat,carnivore,4.20,g,16.94,individuals per square kilometer,1.056725e+13,m^2
...,...,...,...,...,...,...,...,...,...,...
4618,51906708,endangered,terrestrial habitat,None,149.63,g,NaN,None,NaN,None
4619,51906710,least concern,terrestrial habitat,None,NaN,None,155.18,individuals per square kilometer,5.545095e+11,m^2
4620,51906731,endangered,terrestrial habitat,None,419.99,g,13.00,individuals per square kilometer,5.496090e+09,m^2
4621,51906742,data deficient,terrestrial habitat,None,60.17,g,NaN,None,NaN,None
4622,51906785,least concern,terrestrial habitat,omnivore,17.02,g,12.00,individuals per square kilometer,1.821448e+12,m^2